.button-5 {
    padding-left: 0 !important;
}

a[href*="javascript:markReviewed"] {
    visibility: hidden !important;
}

a[href*="javascript:markReviewed"]::after {
    content: "Review status: In progress..."; 
    visibility: visible;
    position: relative;
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    font-family: Arial;
    color: #000000;
    font-size: 16px;
    background: url(incomplete.svg) no-repeat 0px 0px;
    padding: 15px 20px 15px 20px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    text-indent: 40px;
    float: left;
}

a[href*="javascript:markUnreviewed"] {
    visibility: hidden !important;
}

a[href*="javascript:markUnreviewed"]::after {
    content: "Review status: Task completed" !important;
    visibility: visible;
    position: relative;
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    font-family: Arial;
    color: #000000;
    font-size: 16px;
    background: url(complete.svg) no-repeat 0px 0px;
    padding: 15px 20px 15px 20px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    text-indent: 40px;
    float: left;
}
